body, div, button{
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
	min-width: 320px;
	max-width: 600px;
}

.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
	min-width: 350px;
}